.container {
    background-color: white;
    /* border: black solid 1px; */
}

.container div {
    /* border: black 1px solid; */
}

.row {
    background-color: pink;

}

.row div {
    background-color: yellow;
    /* border: 1px black solid; */
}